body {  
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 8px;
    align-items: center;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    flex: 1;
}
.desc-left {
    width: 400px;
}
.singup {
    flex: none;
}
.desc-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.cards {
    display:flex;
    justify-content: center;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.signup-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.signup-inverted {
    flex: none;
}
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 32px;
    margin: 0px;
}